<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <location>/error.jsp</location>
    </error-page>
    
    <servlet>
        <servlet-name>ShowContacts</servlet-name>
        <servlet-class>servlet.ShowContacts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowContacts</servlet-name>
        <url-pattern>/ShowContacts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteContact</servlet-name>
        <servlet-class>servlet.DeleteContact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteContact</servlet-name>
        <url-pattern>/DeleteContact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>servlet.AddContact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/AddContact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateContact</servlet-name>
        <servlet-class>servlet.UpdateContact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateContact</servlet-name>
        <url-pattern>/UpdateContact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchByName</servlet-name>
        <servlet-class>servlet.SearchByName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByName</servlet-name>
        <url-pattern>/SearchByName</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchByNum</servlet-name>
        <servlet-class>servlet.SearchByNum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByNum</servlet-name>
        <url-pattern>/SearchByNum</url-pattern>
    </servlet-mapping>
</web-app>